In [7]:
#Imports
import os
import numpy as np
import pandas as pd
from pathlib import Path

In [8]:
cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'C:\\Users\\jordo\\OneDrive\\Desktop\\git-projects\\Project-4': ['.git', '.gitignore', '.ipynb_checkpoints', 'Cancer_demo_merge.ipynb', 'Demographics Merge copy.ipynb', 'Demographics Merge.ipynb', 'High_pop_cancer.ipynb', 'High_Pop_cancer_demo_merge.ipynb', 'High_pop_demo_merge.ipynb', 'High_Pop_Resources', 'README.md', 'Resources', 'States_Merge.ipynb']

In [9]:
#Load in all states csvs
Alaska_df = pd.read_csv(
    "Resources/Alaska Complete.csv")

Vermont_df = pd.read_csv(
    "Resources/Vermont_Complete.csv")

Wyoming_df = pd.read_csv(
    "Resources/Wyoming_Complete.csv")

California_df = pd.read_csv(
    "Resources/California_Complete.csv")

Florida_df = pd.read_csv(
    "Resources/Florida_Complete.csv")

Texas_df = pd.read_csv(
    "Resources/Texas_Complete.csv")

Wyoming_df.head()

,Unnamed: 0,County,Wyoming Counties FIPS,Income,Uninsured,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,Non Hispanic Poverty %,Area,Age-Adjusted New Case Rate,Case Count,Population,Age-Adjusted Death Rate,Death Count
0,0,Teton,56039,94498,2.4,85.2,0.7,1.6,11.1,0.1,14.4,85.1,Wyoming,402.5,550,116781,93.3,115
1,1,Campbell,56005,87547,3.3,90.2,0.3,0.1,2.9,1.1,8.2,91.4,Wyoming,385.3,863,234790,159.7,299
2,2,Sublette,56035,82342,5.2,96.0,no data/suppressed,no data/suppressed,5.1,0.2,4.2,92.7,Wyoming,290.4,191,49325,81.8,56
3,3,Sweetwater,56037,76668,6.7,86.8,1.2,1.2,5.5,1.2,15.6,83.9,Wyoming,421.2,968,216760,161.3,337
4,4,Uinta,56041,75106,3.5,92.1,0.3,0.2,2.9,0.3,10.3,90.3,Wyoming,368.8,416,101870,127.5,144

In [10]:
#Append all state dfs into one dataframe
state_info_df =  pd.DataFrame().append([Alaska_df,Vermont_df,Wyoming_df,Florida_df,California_df,Texas_df])
state_info_df.head()

C:\Users\jordo\AppData\Local\Temp\ipykernel_7916\895861526.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  state_info_df =  pd.DataFrame().append([Alaska_df,Vermont_df,Wyoming_df,Florida_df,California_df,Texas_df])

,Unnamed: 0,County,Alaska Boroughs_x,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,...,Population,Age-Adjusted Death Rate,Death Count,Vermont Counties FIPS,Wyoming Counties FIPS,Uninsured,FIPS,County FIPS,New Case Rate,Death Rate
0,13,Aleutians East,2013.0,72258,4.5,14.6,2.1,21.2,24.7,44.1,...,16946,Data not presented,Data not presented,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Aleutians West,2016.0,90708,3.8,24.5,3.5,47.5,45.3,10.5,...,28538,114.2,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Anchorage,2020.0,88871,5.4,60.3,5.4,12.6,11.0,7.2,...,1460452,146.1,1878,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22,Bethel,2050.0,57460,18.1,9.6,0.9,1.6,2.3,84.5,...,91317,195,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Bristol Bay,2060.0,81563,2.4,44.8,0.6,5.7,7.9,33.2,...,4284,Data not presented,Data not presented,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Ensure all states are in df
state_info_df.tail()

,Unnamed: 0,County,Alaska Boroughs_x,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,...,Population,Age-Adjusted Death Rate,Death Count,Vermont Counties FIPS,Wyoming Counties FIPS,Uninsured,FIPS,County FIPS,New Case Rate,Death Rate
250,250,Brooks,NaN,26827,1.7,68.5,1.8,0.1,10.6,no data/suppressed,...,35499,NaN,70,NaN,NaN,NaN,48047.0,48047.0,355.3,150.7
251,251,Presidio,NaN,26395,7.8,69.6,no data/suppressed,1.4,43.0,1.9,...,34041,NaN,40,NaN,NaN,NaN,48377.0,48377.0,262.2,74.7
252,252,Dimmit,NaN,25000,5.9,60.4,0.2,1.6,10.2,0.2,...,51162,NaN,78,NaN,NaN,NaN,48127.0,48127.0,348.8,128.9
253,253,Loving,NaN,no data/suppressed,no data/suppressed,98.8,no data/suppressed,1.2,1.2,no data/suppressed,...,Data not presented,NaN,Data not presented,NaN,NaN,NaN,48301.0,48301.0,Data not presented,Data not presented
254,254,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Drop unneeded column
state_info_df = state_info_df.drop(columns="Unnamed: 0")
state_info_df.head()

,County,Alaska Boroughs_x,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,...,Population,Age-Adjusted Death Rate,Death Count,Vermont Counties FIPS,Wyoming Counties FIPS,Uninsured,FIPS,County FIPS,New Case Rate,Death Rate
0,Aleutians East,2013.0,72258,4.5,14.6,2.1,21.2,24.7,44.1,10.5,...,16946,Data not presented,Data not presented,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aleutians West,2016.0,90708,3.8,24.5,3.5,47.5,45.3,10.5,9.7,...,28538,114.2,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Anchorage,2020.0,88871,5.4,60.3,5.4,12.6,11.0,7.2,9.5,...,1460452,146.1,1878,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bethel,2050.0,57460,18.1,9.6,0.9,1.6,2.3,84.5,2.1,...,91317,195,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bristol Bay,2060.0,81563,2.4,44.8,0.6,5.7,7.9,33.2,12.8,...,4284,Data not presented,Data not presented,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Export dataframe to csv
state_info_df.to_csv('State_Complete_Info.csv', encoding='utf-8')