In [1]:
#Imports
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
#Load in all states csvs
Alaska_df = pd.read_csv(
    "Alaska/Alaska Complete.csv")

Vermont_df = pd.read_csv(
    "Vermont/Vermont_Complete.csv")

Wyoming_df = pd.read_csv(
    "Wyoming/Wyoming_Complete.csv")

California_df = pd.read_csv(
    "California/California_Complete")

Florida_df = pd.read_csv(
    "Florida/Florida_Complete")

Texas_df = pd.read_csv(
    "Texas/Texas_Complete")

Wyoming_df.head()

,Unnamed: 0,County,FIPS,Income,Uninsured,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,Non Hispanic Poverty %,Area,Age-Adjusted New Case Rate,Case Count,Population,Age-Adjusted Death Rate,Death Count
0,0,Teton,56039,94498,2.4,85.2,0.7,1.6,11.1,0.1,14.4,85.1,Wyoming,402.5,550,116781,93.3,115
1,1,Campbell,56005,87547,3.3,90.2,0.3,0.1,2.9,1.1,8.2,91.4,Wyoming,385.3,863,234790,159.7,299
2,2,Sublette,56035,82342,5.2,96.0,no data/suppressed,no data/suppressed,5.1,0.2,4.2,92.7,Wyoming,290.4,191,49325,81.8,56
3,3,Sweetwater,56037,76668,6.7,86.8,1.2,1.2,5.5,1.2,15.6,83.9,Wyoming,421.2,968,216760,161.3,337
4,4,Uinta,56041,75106,3.5,92.1,0.3,0.2,2.9,0.3,10.3,90.3,Wyoming,368.8,416,101870,127.5,144

In [3]:
#Append all state dfs into one dataframe
state_info_df =  pd.DataFrame().append([Alaska_df,Vermont_df,Wyoming_df,Florida_df,California_df,Texas_df])
state_info_df.head()

C:\Users\sholl\AppData\Local\Temp\ipykernel_11996\2174034855.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  state_info_df =  pd.DataFrame().append([Alaska_df,Vermont_df,Wyoming_df])

,Unnamed: 0,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,Non Hispanic Poverty %,Area,Age-Adjusted New Case Rate,Case Count,Population,Age-Adjusted Death Rate,Death Count,Uninsured
0,13,Aleutians East,2013,72258,4.5,14.6,2.1,21.2,24.7,44.1,10.5,89.5,Alaska,138.9,23,16946,Data not presented,Data not presented,NaN
1,0,Aleutians West,2016,90708,3.8,24.5,3.5,47.5,45.3,10.5,9.7,90.3,Alaska,286.2,51,28538,114.2,19,NaN
2,2,Anchorage,2020,88871,5.4,60.3,5.4,12.6,11.0,7.2,9.5,90.5,Alaska,444,6278,1460452,146.1,1878,NaN
3,22,Bethel,2050,57460,18.1,9.6,0.9,1.6,2.3,84.5,2.1,97.9,Alaska,367.5,242,91317,195,104,NaN
4,7,Bristol Bay,2060,81563,2.4,44.8,0.6,5.7,7.9,33.2,12.8,87.2,Alaska,337.2,19,4284,Data not presented,Data not presented,NaN

In [4]:
#Ensure all states are in df
state_info_df.tail()

,Unnamed: 0,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,Non Hispanic Poverty %,Area,Age-Adjusted New Case Rate,Case Count,Population,Age-Adjusted Death Rate,Death Count,Uninsured
18,18,Johnson,56019,58020,NaN,92.6,0.7,0.6,1.5,2.9,1.1,96.9,Wyoming,378.0,255,42590,131.5,98,2.6
19,19,Fremont,56013,57887,NaN,71.5,0.5,0.5,1.6,20.2,7.3,92.4,Wyoming,377.1,969,198555,148.5,400,9.1
20,20,Big Horn,56003,56059,NaN,90.2,0.5,0.8,2.9,0.7,9.4,90.6,Wyoming,397.4,340,59045,152.4,134,7.8
21,21,Albany,56001,50733,NaN,87.4,0.9,3.9,6.8,0.7,10.3,90.1,Wyoming,399.8,692,193318,110.4,183,4.3
22,22,Niobrara,56027,48688,NaN,93.0,0.5,1.2,no data/suppressed,2.3,6.3,93.3,Wyoming,291.2,56,11886,99.4,21,4.9

In [5]:
#Drop unneeded column
state_info_df = state_info_df.drop(columns="Unnamed: 0")
state_info_df.head()

,County,FIPS,Income,Uninsured %,White Poverty %,Black Poverty %,Asian Poverty %,Foreign Poverty %,Native Poverty %,Hispanic Poverty %,Non Hispanic Poverty %,Area,Age-Adjusted New Case Rate,Case Count,Population,Age-Adjusted Death Rate,Death Count,Uninsured
0,Aleutians East,2013,72258,4.5,14.6,2.1,21.2,24.7,44.1,10.5,89.5,Alaska,138.9,23,16946,Data not presented,Data not presented,NaN
1,Aleutians West,2016,90708,3.8,24.5,3.5,47.5,45.3,10.5,9.7,90.3,Alaska,286.2,51,28538,114.2,19,NaN
2,Anchorage,2020,88871,5.4,60.3,5.4,12.6,11.0,7.2,9.5,90.5,Alaska,444,6278,1460452,146.1,1878,NaN
3,Bethel,2050,57460,18.1,9.6,0.9,1.6,2.3,84.5,2.1,97.9,Alaska,367.5,242,91317,195,104,NaN
4,Bristol Bay,2060,81563,2.4,44.8,0.6,5.7,7.9,33.2,12.8,87.2,Alaska,337.2,19,4284,Data not presented,Data not presented,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,Johnson,56019,58020,NaN,92.6,0.7,0.6,1.5,2.9,1.1,96.9,Wyoming,378.0,255,42590,131.5,98,2.6
19,Fremont,56013,57887,NaN,71.5,0.5,0.5,1.6,20.2,7.3,92.4,Wyoming,377.1,969,198555,148.5,400,9.1
20,Big Horn,56003,56059,NaN,90.2,0.5,0.8,2.9,0.7,9.4,90.6,Wyoming,397.4,340,59045,152.4,134,7.8
21,Albany,56001,50733,NaN,87.4,0.9,3.9,6.8,0.7,10.3,90.1,Wyoming,399.8,692,193318,110.4,183,4.3
22,Niobrara,56027,48688,NaN,93.0,0.5,1.2,no data/suppressed,2.3,6.3,93.3,Wyoming,291.2,56,11886,99.4,21,4.9

In [6]:
#Export dataframe to csv
state_info_df.to_csv('State_Complete_Info', encoding='utf-8')